.flows.json.backup
[{"id":"9602a786.50d2c","type":"tab","label":"EdgeFlow","disabled":false,"info":""},{"id":"5a7cfff0.7e8bb8","type":"kafka-broker-secure","broker":"${kafka_brokers}","clientid":"edge-flow-client","security_protocol":"sasl_ssl","sasl_mechanism":"PLAIN","ssl_ca_location":"${kafka_certs_path}","enable_ssl_certificate_verification":false},{"id":"f44b52ae.b42a8","type":"rdkafka-secure out","z":"9602a786.50d2c","name":"Producer","topic":"","key":"","partition":-1,"broker":"5a7cfff0.7e8bb8","x":920,"y":240,"wires":[]},{"id":"ccbcb8dd.d74c4","type":"inject","z":"9602a786.50d2c","name":"test_detection","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"topic\":\"detection\",\"event\":\"FireDetected\",\"metadata\":{\"deviceId\":\"\",\"deviceCategory\":\"\",\"tenantId\":\"ibm\",\"accountId\":\"f057feb8-4045-4e56-b521-c46168c43c06\"},\"data\":{\"class\":\"Fire\",\"confidence\":92}}","payloadType":"json","x":150,"y":140,"wires":[["8fb96656a4f12664"]]},{"id":"fc49b5b2.b65b5","type":"http in","z":"9602a786.50d2c","name":"PublishEndpoint","url":"/publish","method":"post","upload":false,"swaggerDoc":"","x":140,"y":240,"wires":[["8fb96656a4f12664"]]},{"id":"f636c201.1fb5e8","type":"http response","z":"9602a786.50d2c","name":"Completed","statusCode":"","headers":{},"x":550,"y":140,"wires":[]},{"id":"c1f0625687bfb5bf","type":"debug","z":"9602a786.50d2c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1030,"y":440,"wires":[]},{"id":"8fb96656a4f12664","type":"function","z":"9602a786.50d2c","name":"setTopic","func":"\nmsg.topic = msg.payload.topic;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":380,"y":240,"wires":[["0fc9141eb20cd1a4","f636c201.1fb5e8"]]},{"id":"0fc9141eb20cd1a4","type":"switch","z":"9602a786.50d2c","name":"event-switch","property":"payload.event.type","propertyType":"msg","rules":[{"t":"neq","v":"DeviceStatus","vt":"str"},{"t":"eq","v":"DeviceStatus","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":550,"y":240,"wires":[["d55c1597f11569ec","f44b52ae.b42a8"],["96571839eb7a9fea"]]},{"id":"164a0278dc4abf08","type":"function","z":"9602a786.50d2c","name":"tunnelResp","func":"\nconsole.log('event: >> ', global.event);\nmsg.payload = {\n    \"event\": flow.get('event'),\n    \"endpoint\": msg.payload,\n    \"metadata\": global.get('metadata')\n};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":890,"y":320,"wires":[["c1f0625687bfb5bf"]]},{"id":"96571839eb7a9fea","type":"change","z":"9602a786.50d2c","name":"setVariables","rules":[{"t":"set","p":"metadata","pt":"global","to":"payload.metadata","tot":"msg"},{"t":"set","p":"event","pt":"flow","to":"payload.event","tot":"msg"},{"t":"set","p":"payload","pt":"msg","to":"payload.d.status","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":470,"y":380,"wires":[["081d2369350e4291"]]},{"id":"d55c1597f11569ec","type":"debug","z":"9602a786.50d2c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":810,"y":160,"wires":[]},{"id":"614edbaabd3f779c","type":"rdkafka-secure in","z":"9602a786.50d2c","name":"Consumer","topic":"updates","cgroup":"smartthings-edge-group","autocommit":true,"broker":"5a7cfff0.7e8bb8","x":130,"y":440,"wires":[["4fc8f731ea535cb7"]]},{"id":"e2d9baa010b44080","type":"debug","z":"9602a786.50d2c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":710,"y":560,"wires":[]},{"id":"4fc8f731ea535cb7","type":"json","z":"9602a786.50d2c","name":"","property":"payload","action":"","pretty":false,"x":290,"y":460,"wires":[["b666ca9023c2e443"]]},{"id":"081d2369350e4291","type":"localtunnel","z":"9602a786.50d2c","buttonState":false,"name":"","input_type":"input","port":"1880","subdomain":"","reject_other_subdomain":false,"local_https":true,"allow_invalid_cert":false,"start_on_load":false,"retry_on_error":0,"local_cert":"","local_key":"","local_ca":"","host":"","local_host":"","inputs":1,"x":690,"y":360,"wires":[["164a0278dc4abf08"]]},{"id":"b666ca9023c2e443","type":"http request","z":"9602a786.50d2c","name":"","method":"POST","ret":"txt","paytoqs":"body","url":"http://localhost:9000/api/gateway/event","tls":"","persist":false,"proxy":"","authType":"","senderr":false,"x":470,"y":500,"wires":[["e2d9baa010b44080"]]}]